# Notes

This assignment is devoted to `pandas`. It covers indexing and filtering, and some `groupby` and `join` operations. The assignment roughly corresponds to Week 4 and the beginning of Week 5 of the course.

The main dataset you'll be using is [Titanic](https://www.kaggle.com/c/titanic). Please, note, that you must not rely on any specific location for the dataset, hence, any code like

```python
titanic_train = pd.read_csv("<location>/train.csv")
```

will fail and your notebook won't be validated and graded. Inputs to the functions are described explicitly in each case, and that's the only thing you can rely on.

In [ ]:
%pylab inline
plt.style.use("bmh")

In [ ]:
plt.rcParams["figure.figsize"] = (6,6)

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
STUDENT = "Kosta Rozen"
ASSIGNMENT = 4
TEST = False

In [ ]:
if TEST:
    import solutions
    total_grade = 0
    MAX_POINTS = 16

# Indexing and filtering

### 1. Fixing age (1 point).

There are several known mistakes in the Titanic dataset.

Namely, [Julia Florence Siegel](https://www.encyclopedia-titanica.org/titanic-survivor/julia-florence-cavendish.html) (Mrs. Tyrell William Cavendish) is mistakenly marked as being 76 years old (the age she actually died, but many years after Titanic).

You must **replace the corresponding age value in the dataframe with her actual age at the time** (25) and return the dataset. Input is **indexed** with `PassengerId` and is a **concatenation of train and test sets**. You must return a copy of the input dataframe, and not perform replacement in the original dataframe. Structure and indexing must be the same as in input.

In [ ]:
def fix_age(df):
    """Fix age for Julia Florence Siegel."""
    fdf = df.copy()
    fdf.loc[fdf.Name.str.contains("Julia Florence Siegel"), "Age"] = 25
    return fdf

In [ ]:
PROBLEM_ID = 1

if TEST:
    total_grade += solutions.check(STUDENT, PROBLEM_ID, fix_age)

### 2. Embarkment port distribution (1 point).

You must find the value counts for embarkment port (`Embarked` column) for the passengers, who travelled in 3-d class, were male and between 20 and 30 years old (both inclusive). No need to treat missing values separately.

Input is **indexed** with `PassengerId` and is a **concatenation of train and test sets**. You must return **series**, indexed with values from `Embarked`, according to `.value_counts()` method semantics:

```
S    <number of male passengers in 3-d class, embarked at S, 20<=Age<=30>
C    <...>
Q    <...>
Name: Embarked, dtype: int64
```

In [ ]:
def embarked_stats(df):
    """Calculate embarkment port statistics."""
    stats = (df.loc[(df.Pclass==3)
                    & (df.Sex=="male")
                    & (df.Age>=20)
                    & (df.Age<=30), "Embarked"]
             .value_counts())
    return stats

In [ ]:
PROBLEM_ID = 2

if TEST:
    total_grade += solutions.check(STUDENT, PROBLEM_ID, embarked_stats)

### 3. Fill missing age values (1 point).

Some age values are missing in the Titanic dataset. You need to calculate average age over all passengers, and fill missing age values in `Age` column.

Input is **indexed** with `PassengerId` and is a **concatenation of train and test sets**. Output must be a **new** dataframe with the same structure, but without missing values in `Age` column.

In [ ]:
def fix_age(df):
    """Fix missing age values."""
    wdf = df.copy()
    return wdf.fillna({"Age": wdf.Age.mean()})

In [ ]:
PROBLEM_ID = 3

if TEST:
    total_grade += solutions.check(STUDENT, PROBLEM_ID, fix_age)

### 4. Child travelling alone (1 point).

You must find a child (`Age<10`) on-board, who was travelling without siblings or parents and find a name of her nursemaid.

Input is **indexed** with `PassengerId` and is a **concatenation of train and test sets**. Output must be a **tuple** of two strings, collected from `Name` column, with one being child's name and second being nursemaid's name. It's known, that there's **only one child** like this.

In [ ]:
def get_nursemaid(df):
    """Get name of a child travelling without parent and siblings."""
    
    child = df[(df.Age<10) & ((df.Parch + df.SibSp)==0)].iloc[0]
    child_name, child_tct = child.Name, child.Ticket
    nursemaid = df[(df.Age>10) & (df.Ticket==child_tct)].iloc[0]
    return child_name, nursemaid.Name

In [ ]:
PROBLEM_ID = 4

if TEST:
    total_grade += solutions.check(STUDENT, PROBLEM_ID, get_nursemaid)

### 5. Port with the most children embarked (1 point).

You must find, which port had the largest percentage of children (`Age<10`) embarked, i.e. number of children divided by total number of passengers embarked.

Input is **indexed** with `PassengerId` and is a **concatenation of train and test sets**. Output must be a **single string** with port letter.

In [ ]:
def get_port(df):
    """Get port with the most children embarked."""

    children_ratio = df[df.Age<10].groupby("Embarked").size()/df.groupby("Embarked").size()
    return children_ratio.sort_values().index[-1]

In [ ]:
PROBLEM_ID = 5

if TEST:
    total_grade += solutions.check(STUDENT, PROBLEM_ID, get_port)

### 6. Passengers per ticket (2 points).

Calculate average and maximum number of passengers per ticket.

Input is **indexed** with `PassengerId` and is a **concatenation of train and test sets**. Output must be a **tuple** of two values - average and maximum number of passengers per ticket.

In [ ]:
def get_ticket_stats(df):
    """Calculate passenger per ticket statistics."""

    ticket_stats = df.groupby("Ticket").size()
    return ticket_stats.mean(), ticket_stats.max()

In [ ]:
PROBLEM_ID = 6

if TEST:
    total_grade += solutions.check(STUDENT, PROBLEM_ID, get_ticket_stats)

### 7. Fare per passenger (3 points).

For each individual ticket, you must calculate **fare per person for that ticket**, and then calculate averages for each class. Note, that you will need to apply `groupby` and you may consider using `.first()` of resulting `DataFrameGroupBy`. Also, caferully consider, in which order calculations are performed.

Input is **indexed** with `PassengerId` and is a **concatenation of train and test sets**. Output must be `pd.Series` with three elements, indexed by class:

```
1    <average per person fare in class 1>
2    <...>
3    <...>
Name: Pclass, dtype: float64
```

In [ ]:
def get_fare_per_pass(df, take="first"):
    """Calculate fare per passenger for different classes."""

    grp = df.groupby("Ticket")
    counts = grp.size()

    if take == "last":
        fares = grp["Fare"].last()
    elif take == "avg":
        fares = grp["Fare"].mean()
    else:
        fares = grp["Fare"].first()

    fare_per_pass = (fares / counts).rename("fare_per_pass")
    df = df.join(fare_per_pass, on="Ticket")
    return df.groupby("Pclass")["fare_per_pass"].mean()

In [ ]:
PROBLEM_ID = 7

if TEST:
    total_grade += solutions.check(STUDENT, PROBLEM_ID, get_fare_per_pass)

### 8. Fill missing age values (3 points).

In problem 3 you filled missing age values with global average over all passengers. Now, you need to fill them **according to class and sex**. For example, for a female passenger from 2d class, missing age value must be filled with average age of females in 2d class.

In this problem, you may need joins and `.apply()`, although there are several ways to get the same result.

Input is **indexed** with `PassengerId` and is a **concatenation of train and test sets**. Output must be a **new** dataframe with the same structure as input, but without missing values in `Age` column.

In [ ]:
def fix_age_groupped(df):
    """Fill missing age values."""

    age_avg = df.groupby(["Pclass", "Sex"]).Age.mean()
    wdf = df.join(age_avg, on=["Pclass", "Sex"], rsuffix="_av")
    wdf.loc[wdf.Age.isnull(), "Age"] = wdf.loc[wdf.Age.isnull(), "Age_av"]
    return wdf.drop("Age_av", axis=1)

In [ ]:
PROBLEM_ID = 8

if TEST:
    total_grade += solutions.check(STUDENT, PROBLEM_ID, fix_age_groupped)

### 9. Finding couples (3 points).

Based on the code from Lecture 5, build a dataframe of couples. Filter it by survival status: select those couples, in which only one of spouses survived or none of two. Built survival statistics by class, i.e. ratio of the number couples with partial survival or couples which died together, divided by total number of couples in class. If the survival status of one or both of spouses is not known, it must be considered as `0`.

Input is **indexed** with `PassengerId` and is a **concatenation of train and test sets**. Output must be `Series` with three elements indexed by values from `Pclass` column (see P7 as a reference).

In [ ]:
def find_couples(df):
    """Find couples."""

    # Calcualting couples (see W3-4)
    family_names = (df
                    .replace(re.compile(r'\s+\(.*\)'), '')
                    .replace(re.compile("Mrs."), "Mr."))[["Name", "Sex"]]
    family_names = family_names[(family_names.Sex=="female") & family_names.Name.str.contains("Mr.")]
    df = (df.join(family_names
                  .reset_index()
                  .set_index("Name")["PassengerId"],
                  on="Name", rsuffix="_Spouse"))
    df.rename({"PassengerId":"PassengerId_Spouse"}, axis=1, inplace=True)
    df = df.join(df[["Name", "Survived"]],
                 on="PassengerId_Spouse", rsuffix="_Spouse")
    df = df[df.PassengerId_Spouse.notnull()]
    
    # Filtering if needed
    if filter_nans:
        df = df[df.Survived.notnull() & df.Survived_Spouse.notnull()]

    # Calculating survival
    df["couple_survival"] = (df.Survived + df.Survived_Spouse)==2
    return 1 - df.groupby("Pclass").couple_survival.mean()

In [ ]:
PROBLEM_ID = 9

if TEST:
    total_grade += solutions.check(STUDENT, PROBLEM_ID, find_couples)

In [ ]:
if TEST:
    print(f"{STUDENT}: {int(100 * total_grade / MAX_POINTS)}")